RewriteEngine On

RewriteCond %{REQUEST_URI} \.(css|js|png|jpg|jpeg|gif|svg|webp|ico|woff|woff2|ttf|mp3|wav|ogg)$ [NC]
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} /index\.php$ [NC]
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} ^/frontend/admin/(login|configuracion|dashboard|galeria|tour)\.php$ [NC]
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ - [L]

RewriteRule ^.*$ /index.php [L,R=302]