# Activar RewriteEngine
Options -Indexes
RewriteEngine On

# Redirigir todas las solicitudes a index.php (excepto archivos y directorios existentes)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Forzar el uso de HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Ignorar las carpetas backend y frontend
RewriteCond %{REQUEST_URI} ^/(backend|frontend)/

# Regla específica para el frontend publico, solo si NO es un archivo real Y NO es un directorio real
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]