body {
    margin: 0;
    background: #000;
    color: white;
    font-family: sans-serif;
    display: flex;
}

/* Diseño de link del dial */
.numbers>span>a {
    text-decoration: none;
    color: black;
}

.numbers>span>a:hover {
    color: blue;
}

/* Contenido Principal */
.content {
    width: 70%;
}

section {
    height: 100vh;
    /* Cada sección ocupa toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #222;
}

/* Interfaz de Radio */
.radio-interface {
    position: fixed;
    right: 0;
    width: 30%;
    height: 100vh;
    background: #050505;
    border-left: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dial-container {
    position: relative;
    width: 200px;
    height: 70%;
    border: 5px solid #8B4513;
    /* Color marrón para un estilo retro */
    border-radius: 10%;
    /* Forma circular */
    background: radial-gradient(circle, #F5F5DC, #8B4513);
    /* Gradiente para un efecto antiguo */
    box-shadow: inset 0 0 10px #000, 0 0 15px #8B4513;
}

.numbers {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    /* Fuente retro */
    font-size: 1.2rem;
    color: #000;
}

/* La Aguja */
.needle {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 4px;
    /*background: red;*/
    /*box-shadow: 0 0 px red;*/
    transition: transform 0.1s linear;
    /* Movimiento suave */
    background-image: url("aguja.png");
}

/* La Perilla */
.knob {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.1s linear;
    background-image: url("perilla.png");
    background-size: cover;
}

/** seccion 1 **/
#s1 {
    background-image: url('background-s1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Ensure text readability if needed */
}